/* 
Підключений файл   
<link rel="stylesheet" href="css/reset.css">
обнуляє всі стилі браузерів, він допомагає відображати нашу сторінку однаково в різних браузерах
 */
/* Стандарт для всіх сторінок */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto Condensed", "Forum", "Inter" sans-serif;
  background: #070a1b;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #fff;
}

a {
  text-decoration: nonne;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

ul {
  list-style: none;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding:  0 10px;
}

.header {

}

.header__top {
display: flex;
justify-content: space-between;
align-items: center;
height: 100px;
}

.list {
  display: flex;
}

.list__item + .list__item {
  margin-left: 30px;
}

.list__link {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all .3s ;
}

.list__link:hover {
  height: 40px;background-color: #C1A1D2;
}
